@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #10b981;
  --secondary: #059669;
  --accent: #fbbf24;
  --link: #3b82f6;
  --hover: #22c55e;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-link: var(--link);
  --color-hover: var(--hover);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
